*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: $pFont;
    outline: none;

    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #000;
    }
}

body{
    
    min-width: 1100px;
    padding: 0 40px;
    min-height: 100vh;
    background-image: linear-gradient( #fff, #fff, rgba($color: $pColor, $alpha: .2));

}
