main {
    .all_contacts {
        min-height: 65vh;
        border-radius: 25px;
        margin: 0 auto;
        box-shadow: 0px 1px 7px #bbb;
        overflow: hidden;
        background-color: #fff;

        .header_section {
            box-shadow: 0 1px 5px #ddd;
            padding: 0 25px;
            ul {
                height: 50px;
                display: grid;
                grid-template-columns: 40px 300px repeat(3, 150px) repeat(2, 1fr) 70px;
                align-items: center;
                li {
                    font-size: 16px;
                    input {
                        margin-top: 4px;
                        width: 17px;
                        height: 17px;
                        cursor: pointer;
                    }
                }
            }
        }
        .contacts_section {
            padding: 5px 0px;
            .contact {
                padding: 10px 25px;
                height: 65px;
                display: grid;
                grid-template-columns: 40px 300px repeat(3, 150px) repeat(2, 1fr) 70px;
                align-items: center;
                font-size: 14px;
                .checkbox {
                    input {
                        margin-top: 4px;
                        width: 17px;
                        height: 17px;
                        cursor: pointer;
                    }
                }
                .contact_info {
                    display: flex;
                    align-items: center;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 25px;
                        object-fit: cover;
                        margin-right: 10px;
                    }
                    .name_contact {
                        .email {
                            color: #555;
                            font-size: 12px;
                        }
                    }
                }
                .pais_region {
                    .region {
                        color: #555;
                        font-size: 12px;
                    }
                }
                .canal {
                    p {
                        width: 90px;
                        height: 25px;
                        display: inline-block;
                        margin-right: 5px;
                        font-size: 10px;
                        font-weight: bold;
                        background-color: $sColor;
                        line-height: 25px;
                        text-align: center;
                        border-radius: 25px;
                        text-transform: uppercase;
                    }
                }
                .interes {
                    position: relative;
                    width: 100%;
                    .bg_line {
                        width: 170px;
                        height: 10px;
                        background-color: #ddd;
                        border-radius: 25px;
                        display: inline-block;
                    }
                    .color_line {
                        position: absolute;
                        top: 3.5px;
                        height: 10px;
                        border-radius: 25px;
                    }
                    &.onehundred {
                        .color_line {
                            background-color: #f00;
                            width: 170px;
                        }
                        &::after {
                            content: "100%";
                        }
                    }
                    &.seventyfive {
                        .color_line {
                            background-color: rgb(255, 174, 0);
                            width: 127.5px;
                        }
                        &::after {
                            content: "75%";
                        }
                    }
                    &.fifty {
                        .color_line {
                            background-color: #ff0;
                            width: 85px;
                        }
                        &::after {
                            content: "50%";
                        }
                    }
                    &.twentyfive {
                        .color_line {
                            background-color: rgb(0, 195, 255);
                            width: 42.5px;
                        }
                        &::after {
                            content: "25%";
                        }
                    }
                    &.cero {
                        &::after {
                            content: "0%";
                        }
                    }
                }
                .acciones {
                    display: flex;
                    justify-content: center;
                    i {
                        display: none;
                        cursor: pointer;
                        &.dots {
                            display: block;
                            font-size: 20px;
                        }
                    }
                    &.active {
                        justify-content: space-around;
                        i {
                            display: block;
                            &.dots {
                                display: none;
                            }
                        }
                    }
                }
                &.selected {
                    background-color: $sColor;
                    & .canal {
                        p {
                            background-color: $tColor;
                        }
                    }
                }
            }
        }
    }
}
