main {
    .contacts_manager {
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        .search_section_ctn {
            h1 {
                color: $pColor;
                font-size: 2em;
                margin-bottom: 20px;
            }
            > div {
                position: relative;
                width: 450px;
                height: 40px;
                border-radius: 20px;
                overflow: hidden;
                box-shadow: 0px 1px 3px #bbb;

                > input {
                    width: 100%;
                    height: 100%;
                    padding: 0 70px 0 30px;
                    outline: none;
                    font-family: $pFont;
                    font-size: 16px;
                    position: relative;
                    top: 0;
                    z-index: 2;
                }
                input[type="search" i]::-webkit-search-cancel-button {
                    display: none;
                }
                i {
                    height: 100%;
                    padding: 0 10px;
                    position: absolute;
                    top: 0px;
                    cursor: pointer;
                    color: $pColor;
                    line-height: 40px;
                    z-index: 3;
                    &.search_btn {
                        border-left: 1px solid $pColor;
                        right: 0;
                        &:hover {
                            color: #666;
                        }
                    }
                    &.arrow_down {
                        right: 40px;
                    }
                }
                .filter_list {
                    width: 100%;
                    height: 0px;
                    display: flex;
                    position: relative;
                    background-color: #fff;
                    overflow: hidden;
                    > div {
                        display: grid;
                        height: 100%;
                        grid-template-rows: repeat(6, 1fr);
                        grid-row-gap: 15px;
                        align-items: center;
                    }

                    .labels {
                    }
                    .inputs_options {
                        input {
                            padding: 5px;
                            border-bottom: 3px solid $pColor;
                            outline: none;
                        }
                        select {
                            padding: 10px;
                            background-color: $pColor;
                            outline: none;
                            color: #fff;
                        }
                    }
                }
                &.active {
                    overflow: inherit;
                    border-radius: 17px 17px 0 0;
                    > input {
                        border-radius: 17px 17px 0 0;
                        box-shadow: 0 1px 2px #eee;
                    }
                    .filter_list {
                        height: 400px;
                        padding: 20px;
                        border-radius: 0 0 17px 17px;
                        box-shadow: 0px 1px 5px #bbb;
                        transition: height 0.7s ease;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
        .operations_section_ctn {
            display: flex;
            align-items: flex-end;
            i {
                margin: 0 10px;
                width: 42px;
                height: 42px;
                position: relative;
                text-align: center;
                line-height: 42px;
                color: $pColor;
                transition: all 0.2s ease;
                border-radius: 25px;
                box-shadow: 0px 1px 3px #ccc;
                &:hover {
                    transform: scale(1.05);
                    transition: all 0.2s ease;
                }

                &::before {
                    position: absolute;
                    right: 14px;
                    top: 3px;
                }
                &::after {
                    content: "";
                    width: 20px;
                    height: 2px;
                    background-color: $pColor;
                    display: inline-block;
                    position: absolute;
                    top: 12px;
                    right: 11px;
                }
            }
            button {
                padding: 11px 20px;
                margin: 0px 10px;
                font-size: 16px;
                border-radius: 25px;
                box-shadow: 0px 1px 3px #ccc;
                &.add_contact {
                    background-color: $pColor;
                    color: #fff;
                    transition: all 0.2s ease;
                    &:hover {
                        transform: scale(1.03);
                        transition: all 0.2s ease;
                    }
                }
                &.exp_contact {
                    background-color: transparent;
                    box-sizing: content-box;
                    color: $pColor;
                    transition: all 0.2s ease;
                    &:hover {
                        transform: scale(1.03);
                        transition: all 0.2s ease;
                    }
                }
            }
        }
    }
}
