@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$pFont: 'Montserrat', sans-serif;

//'Lato', sans-serif
$pColor : #070d59;
$sColor : #ffdada;
$tColor : #fd6e6e ;

// lista colores

/*
naranja fuerte: #ff841f;
azul fuerte : 070d59
fucsia: ea2c62
lila: 6a097d
rosa lindo: ffdada
amarillo: ffda77


*/