@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


$pFont: 'Nunito', sans-serif;

//'Lato', sans-serif
$pColor : #272343;
$sColor : #5ce1e6;
$tColor : #bae8e8 ;